.navegacion {
  background-color: $primarioOscuro;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;

  &__enlace {
    font-family: $principal;
    color: $blanco;
    font-size: 3rem;
    text-transform: uppercase;

    &:hover {
      color: $segundario;
    }
  }
  &__enlace--activo {
    color: $segundario;
  }
}
