.nosotros {
  display: grid;
  column-gap: 2rem;
  grid-template-rows: repeat(2, auto);

  &__imagen {
    width: 100%;
    grid-row: 1/2;
  }
}

@media (min-width: 780px) {
  .nosotros {
    grid-template-columns: repeat(2, 1fr);

    &__imagen {
      grid-column: 2/3;
    }
  }
}
