.producto {
  background-color: $primarioOscuro;
  padding: 1rem;

  .producto__imagen {
    img {
      width: 100%;
    }
  }

  .producto__nombre,
  .producto__precio {
    font-family: $principal;
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
  }

  .producto__nombre {
    font-size: 4rem;
  }

  .producto__precio {
    font-size: 2.8rem;
    color: $segundario;
  }
}
