//fuentes

$principal: "Staatliches", cursive;
$parrafos: Arial, Helvetica, sans-serif;

//colores

$primario: #9c27b0;
$primarioOscuro: #89119d;
$segundario: #ffce00;
$secundarioOscuro: rgb(233, 187, 2);
$blanco: #fff;
$negro: #000;
